<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYSQL-Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="main-container"> 
        <div class="mysql_login">
            <form action="/output" method="post">
                <label for="host">Host URL:</label>
                <input type="text" placeholder="host url" name="url" id="url">
                </br>
                <label for="username">Username:</label>
                <input type="text" placeholder="user e.g. - root" name="username" id="username">
                </br>
                <label for="password">Password:</label>
                <input type="password"  name="password" id="password">
                </br>
                <span><input type="checkbox" name="remember" id="remember">
                    Remember Me</span>
                </br>
                </br>
                <input type="submit" value="Login" class="submit">
            </form>
        </div>
    </div>

</body>
</html>