<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css')}}">
</head>
<body>
    <div class="main">
        <div class="back">
            <button onclick="window.location.href='/'">Back</button>
        </div>
        <div class="output">
            <label for="output">Output:</label>
            <p name="output" id="output" cols="30" rows="10">{{ content}}</p>
        </div>
    </div>
</body>
</html>